### Node.js ###

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json


### IDE ###

/.idea
*.iml


### App ###

/build
/coverage
.env*.local


### Misc ###

*.log
.DS_Store
