.btn-unstyled {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px 4px;

  background-color: transparent;
  color: inherit;
  border: none;
  cursor: pointer;
  opacity: 0.8;
}

.btn-unstyled:hover,
.btn-unstyled:focus {
  opacity: 1;
}

.btn-unstyled:disabled,
.btn-unstyled[disabled] {
  cursor: initial;
  opacity: 1;
}

.btn-unstyled .label {
  margin-left: 1rem;
}
