.menu {
  position: relative;
  z-index: 200;
}

.dropdown {
  position: absolute;
  left: 10px;
  top: 10px;
  padding: 10px;

  overflow-y: auto;
  overflow-x: hidden;
  max-height: calc(100vh - 50px);

  background-color: white;
  border: 1px solid #ccc;

  animation: slide-in-top 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.dropdown .close-button {
  position: absolute;
  top: 5px;
  right: 2px;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(0);
  }
}
