.menu {
  position: relative;
}

.menu button {
  height: 40px;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.menu button:hover,
.menu button:focus {
  background-color: var(--color-background-offset);
  border-color: var(--color-border);
}

.dropdown {
  position: fixed;
  right: 6px;
  top: 55px;
  padding: 8px 0;
  min-width: 250px;
  max-height: calc(100% - 80px);

  overflow-y: auto;
  overflow-x: hidden;

  background-color: var(--color-background-default);

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s;
}

@media screen and (min-width: 1201px) {
  .dropdown {
    right: calc((100vw - 1188px) / 2);
  }
}

.dropdown .close-button {
  position: absolute;
  top: 5px;
  right: 2px;
}

.dropdown.closed {
  opacity: 0;
  visibility: hidden;
}
