.menu {
  position: relative;
}

.menu button {
  height: 40px;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: 1px solid transparent;
  border-radius: 5px;
}

.menu button:hover,
.menu button:focus {
  background-color: #f5f5f5;
  border-color: #ccc;
}

.dropdown {
  position: fixed;
  right: 6px;
  top: 55px;
  padding: 8px 0;
  min-width: 250px;
  max-height: calc(100% - 80px);

  overflow-y: auto;
  overflow-x: hidden;

  background-color: white;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05), 0 0 0 1px rgba(0, 0, 0, 0.15);
  border-radius: 5px;

  animation: fade-in 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (min-width: 1201px) {
  .dropdown {
    right: calc((100vw - 1188px) / 2);
  }
}

.dropdown .close-button {
  position: absolute;
  top: 5px;
  right: 2px;
}

.dropdown.closed {
  animation: fade-out 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
