:root {
  --base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Noto Sans", "Helvetica Neue", Arial, sans-serif;
}

body {
  background-color: $gray-cool-3;
  font-size: 1.7rem;
}

a:hover {
  --color-link-box-shadow: transparent;
  text-decoration: underline;
}

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  /* Remove the default clear button, as a custom clear button exists */
  -webkit-appearance: none;
}
