.filter {
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
  max-width: 800px;
}

.filter .input {
  width: 100%;
  max-width: 800px;
  font-size: 1.6rem;
  flex-grow: 1;
  padding: 16px 8px;
  border: none;

  outline: none; /* TODO: Custom focus indicator */
}

.filter .input::placeholder {
  color: #777;
}

.filter-button {
  margin-right: 0.3rem;
}
