.filter {
  position: relative;

  width: 100%;
  max-width: 500px;
}

.filter .input {
  width: 100%;
  flex-grow: 1;
  padding: 16px 8px 8px 40px;
  margin-bottom: 6px;

  border: none;
  border-bottom: 2px solid transparent;
  border-radius: 0;
  box-shadow: none;

  // Progressive enhancement: https://matthiasott.com/notes/focus-visible-is-here
  &:focus {
    border-bottom-color: var(--color-focus-ring);
  }

  :focus:not(:focus-visible) {
    border-bottom-color: transparent;
  }

  &:focus-visible {
    border-bottom-color: var(--color-focus-ring);
  }
}

.filter .input::placeholder {
  color: #777;
}

.filter-button {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;

  display: flex;
  align-items: center;
}

.filter-button.empty {
  pointer-events: none;
}
