header {
  display: flex;

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  height: 60px;
  z-index: 100;

  background-color: var(--color-background-default);
  border-bottom: 1px solid var(--color-border-default);
  box-shadow: 0 1px 3px 0 var(--color-box-shadow);
}

header .header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  max-width: 1200px;
  margin: auto;

  padding-left: 10px;
  padding-right: 10px;
}

header .header-actions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  button {
    height: 35px;
    font-size: 1.6rem;
    padding: 0.5rem 0.7rem;
    border: 1px solid transparent;
    border-radius: 0.4rem;
  }
  .toggle-theme-btn:hover{
    color: var(--color-text-interaction);
  }
  
  .toggle-theme-btn:hover svg {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .toggle-theme-btn svg {
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
    -webkit-transition: transform 0.4s ease;
    -moz-transition: transform 0.4s ease;
    -o-transition: transform 0.4s ease;
    transition: transform 0.4s ease;
  }
}
header .logo {
  display: none;

  margin-left: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: default;
}

@media screen and (min-width: 581px) {
  header .logo {
    display: block;
  }
}
