@import "~@darekkay/styles/src/base/variables";

.bucket {
  display: flex;
  position: relative;
  flex-direction: column;

  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  max-width: 100%;

  background-color: #fff;

  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  border-radius: 5px;

}

@media screen and (min-width: 481px) {
  .bucket {
    max-width: 300px;
    margin: 0.8rem;
  }
}

.bucket-header {
  display: flex;
  justify-content: space-between;
  padding: 0.8rem 1rem 0.8rem 2rem;
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;
  font-weight: 700;
  font-size: 1.6rem;
}

.bucket-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.bucket-header .btn {
  margin-left: 10px;
  margin-top: 2px;
}

.bucket-title {
  cursor: default;
  margin: 0;
}

.bucket-block {
  flex: 1 1 auto;
  padding: 1rem 2rem;
}
